/* src/components/slider.css */

.slider {
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) rotateX(0deg) rotateY(-25deg) rotateZ(-120deg);
  transform-style: preserve-3d;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  user-select: none;
  will-change: transform;
  pointer-events: none; /* so your Home button stays clickable */
}

.card {
  position: relative;
  width: 400px;
  height: 400px;
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(130deg);
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  overflow: hidden;
  margin: -300px 0;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  left: 0%;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
